@model CuidadosContinuados.Models.MedicosViewPage

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="~/Static/Buttons.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="row">
    <div class="col"></div>
    <div class="col">
        <h2 style="text-align:center;">
            Referenciações

        </h2>
    </div>
    <div class="col align float-right">
        <a class="btn btn-outline-dark float-right" href="~/Medicos/LogOut">Sair <i class="fas fa-sign-out-alt"></i></a>

    </div>
    
</div>

<br />
<br />
@using (Html.BeginForm("Index", "Assistente", FormMethod.Get))
{
    <div class="form-row col-md-4">


        <div class="col-auto">
            @Html.TextBox("SearchString", null, new { @class = "search-query form-control form-inline", @placeholder = "Search" })

        </div>
        <div class="col-auto" style="margin-left:-0.6rem">
            <button type="submit" value="" class="btn btn-danger"><i class="fas fa-search"></i></button>
        </div>



    </div>
}
<br />
<br />
<h4 class="text-danger">Por Preencher <span class="badge badge-danger">@Model.refeNot.Count()</span></h4>
<hr class="border-danger" />
<div class="row">
    @foreach (var item in Model.refeNot)
    {

        <div class="card m-2 border-danger zoomm" style="width: 22rem;">
            <div class="card-header bg-danger font-weight-bold text-light">@Model.utentes.Where(c => c.Id == item.UtenteId).SingleOrDefault().Name</div>
            <div class="card-body">
                <h4>
                    Médico @if (item.MedicoOk)
                    {<i class="fas fa-check" style="padding-left:0.3rem; color:green;"></i>}
                    else
                    { <i class="fas fa-times" style="padding-left:0.3rem; color:red;"></i>}
                    <p class="text-muted" style="font-size:1.1rem;">
                        @{var tes = Model.meds.Where(c => c.Id == item.Medico).FirstOrDefault();
                            if (tes != null)
                            {
                                @tes.Name;
                            }

                        }
                    </p>
                </h4>
                <h4>
                    Enfermeiro  @if (item.EnfermeiroOk)
                    {<i class="fas fa-check" style="padding-left:0.3rem; color:green;"></i>}
                    else
                    { <i class="fas fa-times" style="padding-left:0.3rem; color:red;"></i>}
                    <p class="text-muted" style="font-size:1.1rem;">
                        @{var enf = Model.enfe.Where(c => c.Id == item.Enfermeiro).FirstOrDefault();
                            if (enf != null)
                            {
                                @enf.Name;
                            }

                        }
                    </p>
                </h4>
                <h4>
                    Assistente Social @if (item.AssistOk)
                    {<i class="fas fa-check" style="padding-left:0.3rem; color:green;"></i>}
                    else
                    { <i class="fas fa-times" style="padding-left:0.3rem; color:red;"></i>}
                </h4>
                <br />
                <button type="button" class="btn btn-outline-success" onclick="location.href='@Url.Action("Edit", "Assistente", new { Id = item.Id })'">Preencher</button>
                <button type="button" class="btn btn-outline-info" onclick="location.href='@Url.Action("Details", "Assistente", new { Id = item.Id })'">Detalhes</button>


            </div>
        </div>





    }
</div>
<h4 class="text-success mt-4">Preenchido <span class="badge badge-success">@Model.refeDone.Count()</span></h4>
<hr class="border-success mb-4" />
<div class="row">

    @foreach (var item in Model.refeDone)
    {

        <div class="card m-2 border-success zoomm" style="width: 22rem;">
            <div class="card-header bg-success font-weight-bold text-light">@Model.utentes.Where(c => c.Id == item.UtenteId).SingleOrDefault().Name</div>
            <div class="card-body">
                <h4>
                    Médico @if (item.MedicoOk)
                    {<i class="fas fa-check" style="padding-left:0.3rem; color:green;"></i>}
                    else
                    { <i class="fas fa-times" style="padding-left:0.3rem; color:red;"></i>}
                    <p class="text-muted" style="font-size:1.1rem;">
                        @{var teste = Model.meds.Where(c => c.Id == item.Medico).FirstOrDefault();
                            if (teste != null)
                            {
                                @teste.Name;
                            }

                        }
                    </p>
                </h4>
                <h4>
                    Enfermeiro  @if (item.EnfermeiroOk)
                    {<i class="fas fa-check" style="padding-left:0.3rem; color:green;"></i>}
                    else
                    { <i class="fas fa-times" style="padding-left:0.3rem; color:red;"></i>}
                    <p class="text-muted" style="font-size:1.1rem;">
                        @{var e = Model.enfe.Where(c => c.Id == item.Enfermeiro).FirstOrDefault();
                            if (e != null)
                            {
                                @e.Name;
                            }

                        }
                    </p>
                </h4>
                <h4>
                    Assistente Social @if (item.AssistOk)
                    {<i class="fas fa-check" style="padding-left:0.3rem; color:green;"></i>}
                    else
                    { <i class="fas fa-times" style="padding-left:0.3rem; color:red;"></i>}
                </h4>
                <br />
                <button type="button" class="btn btn-outline-success" onclick="location.href='@Url.Action("Edit", "Assistente", new { Id = item.Id })'">Editar</button>
                <button type="button" class="btn btn-outline-info" onclick="location.href='@Url.Action("Details", "Assistente", new { Id = item.Id })'">Detalhes</button>
                

            </div>
        </div>





    }








</div>
