@model CuidadosContinuados.Models.Referenciacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Referenciacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UtenteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UtenteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuidador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuidador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntidadeReferenciadora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntidadeReferenciadora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiagnosticoClinico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiagnosticoClinico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDeAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDeAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriteriosDeTriagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriteriosDeTriagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DependenciaAVD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DependenciaAVD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desnutricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desnutricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deteorioracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deteorioracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProblemasSensoriais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemasSensoriais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DCronicas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DCronicas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NCCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NCCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ECE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ECE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuidadorDetalhes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuidadorDetalhes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IRS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IRS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Criacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Criacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enfermeiro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enfermeiro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicoOk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicoOk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnfermeiroOk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnfermeiroOk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssistOk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssistOk)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
