@model CuidadosContinuados.Models.Referenciacao

@{
    ViewBag.Title = "Edit";
}

<h2>Preencher</h2>
<h5 class="text-danger">@ViewBag.Message</h5>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label class="h4">Escolaridade do Utente:</label>
            <input type="text" name="Escolaridade" asp-for="Escolaridade" value="@ViewBag.Escolaridade" />
        </div>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.NE, htmlAttributes: new { @class = "control-label col-md-5 h4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NE, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.AND, htmlAttributes: new { @class = "control-label col-md-5 h4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AND, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AND, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.ECE, htmlAttributes: new { @class = "control-label col-md-5 h4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ECE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ECE, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />

        <button class="btn btn-outline-success">Guardar</button>


    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", null, new {@class="btn btn-outline-info" })
</div>
